body {
    background-color: #fff;
}

.hidden {
    display: none;
}

.btn.btn-fab i {
    height: 20px;
    line-height: 20px;
    text-align: center;
    top: -4px;
    vertical-align: middle;
    width: 20px;
}

.btn-raised i,
.btn-raised span {
    color: #fff;
}

.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
}

@keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}
