.test-item {
    align-items: center;
    display: flex;
    .wrap {
        align-items: center;
        border-bottom: 1px solid #e6e6e6;
        display: flex;
        justify-content: space-between;
        padding-left: 1.5rem;
        width: 100%;
    }
    .status {
        border-radius: 20px;
        height: 40px;
        width: 40px;
        &.ok {
            background-color: #4caf50;
        }
        &.fail {
            background-color: #f44336;
        }
    }
    .actions {
        padding-right: 2rem;
        .btn-success {
            margin-right: 1rem;
        }
    }
    .content {
        h2 {
            margin-bottom: 5px;
        }
        .date {
            color: #b2b2b2;
            font-size: 12px;
        }
    }
}
