.test-detail {
    padding: 2rem;
    position: relative;
    .inner {
        position: relative;
    }
    .test-header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        h1 {
            font-size: 25px;
            margin: 0;
        }
    }
    .delete {
        margin-left: 1rem;
    }
}

.test-detail-fail {
    .select-buttons {
        margin-top: 3rem;
        text-align: center;
        .btn {
            margin: 0 1rem 0 0;
        }
    }
    .images {
        display: flex;
        flex-wrap: wrap;
        padding-top: 2rem;
    }
    .image {
        text-align: center;
    }
    .original,
    .new,
    .diff {
        padding: 2rem;
        width: 50%;
    }
    .diff {
        text-align: center;
        width: 100%;
        img {
            width: 60%;
        }
    }
    img {
        width: 100%;
    }
}

.test-detail-success {
    .image {
        padding-top: 60px;
        text-align: center;
    }
    img {
        width: 50%;
    }
}
