.tests {
    padding: 1rem 2rem;
    .list-actions {
        background: rgba(255, 255, 255, .5);
        bottom: 0;
        left: 0;
        position: fixed;
        text-align: center;
        width: 100%;
        z-index: 100;

    }
    .top-tests-list {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
    }
}
